
.depicter-revert .depicter-1-element-23{
	border-width:2px;
	border-style:solid;
	border-color:#AAAAAA;
	border-radius:50% 50% 50% 50%;
}
.depicter-1-element-23 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-element-24{
	border-width:2px;
	border-style:solid;
	border-color:#AAAAAA;
	border-radius:50% 50% 50% 50%;
}
.depicter-1-element-24 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-section-18 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-1-section-14 .depicter-section-background{
	background-color:transparent;
}

